.notificationPopup {
  height: 300px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 10px;
  margin: 0;
  border-radius: 6px;
}
.ant-popover .ant-popover-inner {
  padding: 0px;
  border-radius: 6px;
  margin: 0px 10px 10px 0px;
}

.dropDown {
  bottom: 7%;
  position: fixed;
  right: 3%;
}
.dropDown Button {
  background-color: #118e44;

  height: 45px;
  width: 45px;
  padding: 0%;
}
.dropDown Button:hover {
  background-color: green;
}
.chatPopup {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 9px 0.2px rgba(0, 0, 0, 0.3);
}

.chatPopupHeader {
  background-color: #002242;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22vw;
  border: 2px solid whitesmoke;
  border-bottom: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.chatPopupContent {
  margin-top: 0px;
  background-color: whitesmoke;
  width: 22vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 45vh;
}
.ant-popover .ant-popover-inner {
  border-radius: 15px;
}

.ask-qn-btn {
  width: 90%;
  margin: 4% 3%;
  background-color: #118e44;
  color: white;
}
.chatPopupHeader2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6% 5%;
}
.lists {
  height: 30vh;
  border-radius: 5px;
  margin: 0% 3%;
}
.lists2 {
  height: 30vh;
  overflow-y: scroll;
}
.lists2::-webkit-scrollbar {
  display: none;
}

.helpList:hover {
  cursor: pointer;
}
.helpList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 12px;
  height: 5vh;
  /* border-block-end: 1px solid rgba(0, 0, 0, 0.1); */
}

.helpListContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.listIcon {
  color: #118e44;
  font-weight: bold;
  font-size: 16px;
}
.chatContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}
.chatContentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: #dedcdc;
  margin: 0px 2px;
  padding: 0% 2%;
}
.chatContentHeaderDiv1,
.chatContentHeaderDiv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.chatContentHeaderDiv2 {
  color: green;
}

.chatContentInput {
  display: flex;
  flex-direction: row;
  margin: 5%;
  gap: 7px;
}
.chatContentInput Button {
  background-color: #118e44;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatPopupHeader2 .typography,
.typography1,
.typography2,
.typography3 {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.chatPopupHeader2 .typography {
  font-size: 18px;
}
.chatPopupHeader2 .typography1 {
  font-size: 16px;
}
.chatPopupHeader2 .typography2 {
  font-size: 14px;
}
.chatPopupHeader2 .typography3 {
  font-size: 12px;
  font-weight: 50;
}
.chatPopupHeader2 .avatar {
  margin-right: 14px;
  border: 2px solid white;
}

.helpContent p {
  font-family: sans-serif;
  font-size: 16px;
  margin: 3%;
  color: grey;
  margin-top: 0%;
  padding-top: 3%;
}
.helpContent h3 {
  font-weight: bold;
  font-family: sans-serif;
  margin: 2% 3%;
}

.chatPopupHeader .closeButton {
  margin: 4%;
}
.listName {
  font-family: Inter;
  font-size: 14px;
  color: #333a41;
}

.feedbackContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vh;
}
.feedbackContent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.feedbackContent1 p {
  font-size: 15px;
  font-family: sans-serif;
  color: rgb(41, 41, 41);
}
.feedbackContent0 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 46vh;
  margin-bottom: 5%;
}
.thumbsButton {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.thumbs {
  color: white;
  font-size: 150%;
}
.feedbackBtns {
  display: flex;
  justify-content: center;
  gap: 3%;
  width: 100%;
}
.ant-btn-default:hover,
.ant-btn-default:focus {
  border-color: none;
  color: #fff;
}
.txtarea {
  width: 90%;
  height: 10vh;
}

.btnColor:hover {
  color: black;
}

.custom-tag {
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}
.custom-tag span {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.qnsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.qnsContent1 {
  padding: 2%;
}

@media only screen and (min-height: 1050px) {
}

@media only screen and (max-width: 930px) {
  .chatPopupContent {
    width: 40vw;
  }
  .chatPopupHeader {
    width: 40vw;
  }
  .ask-qn-btn {
    width: 38vw;
  }
}

@media only screen and (max-width: 1100px) {
  .chatPopupContent {
    width: 35vw;
  }
  .chatPopupHeader {
    width: 35vw;
  }
  .ask-qn-btn {
    width: 22vw;
  }
}

@media only screen and (max-width: 1300px) {
  .chatPopupContent {
    width: 25vw;
  }
  .chatPopupHeader {
    width: 25vw;
  }
  .ask-qn-btn {
    width: 23vw;
  }
}

@media only screen and (max-width: 900px) {
  .chatPopupContent {
    width: 35vw;
  }
  .chatPopupHeader {
    width: 35vw;
  }
  .ask-qn-btn {
    width: 32vw;
  }
}
@media only screen and (max-width: 800px) {
  .chatPopupContent {
    width: 45vw;
  }
  .chatPopupHeader {
    width: 45vw;
  }
  .ask-qn-btn {
    width: 41vw;
  }
}
@media only screen and (max-width: 600px) {
  .chatPopupContent {
    width: 65vw;
  }
  .chatPopupHeader {
    width: 65vw;
  }
  .ask-qn-btn {
    width: 60vw;
  }
}

.ant-popover .ant-popover-inner {
  margin: 0px;
  margin-bottom: 3%;
}

